extends layout

block content
  =item.toString()

  form(method="POST")

    input(type="text", name="_id", value="#{item._id}")
    input(type="text", name="_type", value="#{adminModelConfig.name}")


    each field in fields
      div!= editorFor(field, item)
    input(type="submit")