extends layout

block content
  =item.toString()

  form(method="POST")

    input(type="text", name="_id", value="#{item._id}")
    input(type="text", name="model", value="#{modelName}")


    each field in fields
      div!= field.editor(item)
    input(type="submit")