p Showing all models here

table
  tr
    each field in fields
      th #{field.label()}
    th


    each item in items
      tr
        each field in fields
          td #{field.value(item)}
        td: a(href="#{editUrlFor(item)}") Edit

