p Showing all models here

table
  tr
    each field in fields
      th #{labelFor(field)}
    th


    each item in items
      tr
        each field in fields
          td #{valueFor(field, item)}
        td: a(href="#{editUrlFor(item)}") Edit

