doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      unless hideAccountLinks
        if isLoggedIn
          span= user.username 
          a(href="/logout") Logout        
        else
          a(href="/login") Login
          |  | 
          a(href="/user/register") Register
    block content